<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>

    <add key="PathTicketsPending" value="C:\intercambio\rikers\tickets\pending\" />
    <add key="PathTicketsQuarantine" value="C:\intercambio\rikers\tickets\quarantine\" />
    <add key="PathTicketsDispatched" value="C:\intercambio\rikers\tickets\dispatched\" />
    <add key="PathTicketsResponse" value="C:\intercambio\rikers\tickets\response\" />

    <add key="PathCommentsPending" value="C:\intercambio\rikers\comments\pending\" />
    <add key="PathCommentsQuarantine" value="C:\intercambio\rikers\comments\quarantine\" />
    <add key="PathCommentsDispatched" value="C:\intercambio\rikers\comments\dispatched\" />
    <add key="PathCommentsResponse" value="C:\intercambio\rikers\comments\response\" />
    
    <add key="TotalAttemps" value="5" />
    <add key="SecondsWait" value="360" />

    <add key="Filter" value="*.txt" />
    <add key="Logger" value="Information,Warning,Error,SuccessAudit,FailureAudit" />

    <!--  <add key="BaseUrl" value="http://localhost:56500/api/Ticket" /> -->
    <add key="BaseUrl" value="https://test.ts-api.ibm.com:443/biker-services/api" />
    <add key="credential" value="YXB0cmEucmlrZXIudGVzdEBjaXRpLmNvbTphWm0xOTUrI18yMDEy" />
    <add key="ClientId" value="C_CITIBANAMEX" />
    <add key="ClientSecret" value="zZGsQjcNOX7LQNBLQMvWOS4zWUhFDMLpVkhGzSVg5Qauln6s5yLaQ7Z1hPQp" />
    
    <add key="EndPointAccessToken" value="/v1/admin/auth/get-ibmid-access-token" />
    <add key="EndPointCreateCase" value="/v2/case" />
    <add key="EndPointFeedBack" value="/v2/case/{casenumber}/comment" />

    <add key="UseSSL" value="false" />
    <add key="SerialCert" value="6900014549BF1BEFF42512A7B1000000014549" />
    <add key="CompanyName" value="Citibanamex" />
    <add key="IbmCustomerNumber" value="0056202" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />

  </appSettings>
  <connectionStrings>
    <add name="TicketsEntities" connectionString="metadata=res://*/InternalDB.TicketEDM.csdl|res://*/InternalDB.TicketEDM.ssdl|res://*/InternalDB.TicketEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\App_Data\Tickets.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--    <add name="TicketsEntities"
           connectionString="metadata=res://*/InternalDB.TicketEDM.csdl|res://*/InternalDB.TicketEDM.ssdl|res://*/InternalDB.TicketEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=D:\softtek\ATMS\DPS\Interface_IBM\FileModel\App_Data\App_Data\Tickets.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
-->
    <add name="DataServiceEntities" connectionString="metadata=res://*/ORM.DataServiceModel.csdl|res://*/ORM.DataServiceModel.ssdl|res://*/ORM.DataServiceModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=C:\Citi\RikersInterfaceService\cache\DataService.sdf;Max Database Size=4091&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>