<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>

    <add key="PathTicketsPending" value="C:\intercambio\rikers\tickets\pending\" />
    <add key="PathTicketsQuarantine" value="C:\intercambio\rikers\tickets\quarantine\" />
    <add key="PathTicketsDispatched" value="C:\intercambio\rikers\tickets\dispatched\" />
    <add key="PathTicketsResponse" value="C:\intercambio\rikers\tickets\response\" />

    <add key="PathCommentsPending" value="C:\intercambio\rikers\comments\pending\" />
    <add key="PathCommentsQuarantine" value="C:\intercambio\rikers\comments\quarantine\" />
    <add key="PathCommentsDispatched" value="C:\intercambio\rikers\comments\dispatched\" />
    <add key="PathCommentsResponse" value="C:\intercambio\rikers\comments\response\" />

    <add key="TotalAttemps" value="5" />
    <add key="SecondsWait" value="360" />

    <add key="Filter" value="*.txt" />
    <add key="Logger" value="Information,Warning,Error,SuccessAudit,FailureAudit" />

    <!--  <add key="BaseUrl" value="http://localhost:56500/api/Ticket" /> -->
    <add key="BaseUrl" value="https://test.ts-api.ibm.com:443/biker-services/api" />
    <add key="credential" value="YXB0cmEucmlrZXIudGVzdEBjaXRpLmNvbTphWm0xOTUrI18yMDEy" />
    <add key="ClientId" value="C_CITIBANAMEX" />
    <add key="ClientSecret" value="zZGsQjcNOX7LQNBLQMvWOS4zWUhFDMLpVkhGzSVg5Qauln6s5yLaQ7Z1hPQp" />

    <add key="EndPointAccessToken" value="/v1/admin/auth/get-ibmid-access-token" />
    <add key="EndPointCreateCase" value="/v2/case" />
    <add key="EndPointFeedBack" value="/v2/case/{casenumber}/comment" />

    <add key="UseSSL" value="false" />
    <add key="SerialCert" value="6900014549BF1BEFF42512A7B1000000014549" />

    <add key="CompanyName" value="Citibanamex" />
    <add key="IbmCustomerNumber" value="0056202" />

    <!-- <add key="ClientSettingsProvider.ServiceUri" value="" /> -->

  </appSettings>
  
</configuration>