<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ThreadSleepTimeInMin" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  
    <add key="TicketsPending" value="C:\intercambio\rikers\tickets\pending\" />
    <add key="TicketsQuarantine" value="C:\intercambio\rikers\tickets\quarantine\" />
    <add key="TicketsDispatched" value="C:\intercambio\rikers\tickets\dispatched\" />
    <add key="TicketsResponse" value="C:\intercambio\rikers\tickets\response\" />
    <add key="CommentsPending" value="C:\intercambio\rikers\comments\pending\" />
    <add key="CommentsQuarantine" value="C:\intercambio\rikers\comments\quarantine\" />
    <add key="CommentsDispatched" value="C:\intercambio\rikers\comments\dispatched\" />
    <add key="CommentsResponse" value="C:\intercambio\rikers\comments\response\" />
    <add key="Filter" value="*.txt" />
    <!--  <add key="BaseUrl" value="http://localhost:56500/api/Ticket" /> -->
    <add key="BaseUrl" value="https://test.ts-api.ibm.com:443/biker-services/api" />
    <add key="EndPointAccessToken" value="/v1/admin/auth/get-ibmid-access-token" />
    <add key="CreateCase" value="/v2/case" />
    <add key="CommentSend" value="/v2/case/{casenumber}/comment" />
    <add key="credential" value="YXB0cmEucmlrZXIudGVzdEBjaXRpLmNvbTphWm0xOTUrI18yMDEy" />
    <add key="SerialCert" value="6900014549BF1BEFF42512A7B1000000014549" />
    <add key="CompanyName" value="Citibanamex" />
    <add key="IbmCustomerNumber" value="0056202" />
    <add key="Logger" value="Information,Warning,Error,SuccessAudit,FailureAudit" />
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
